# SPDX-FileCopyrightText: 2019-2026 Gabriel Arazas <foodogsquared@foodogsquared.one>
#
# SPDX-License-Identifier: MIT

root = true

[*.snippets]
indent_size = 2
indent_style = space

[*.lua]
indent_size = 2
indent_style = space
